.column {
    .card-wrapper {
        display: block;
        margin: 0 auto;
        //padding: 15px;

        .card-image {
            display: block;
            padding-top: 100%;

            img {
                height: 100%;
                left:0;
                object-fit: cover;
                position: absolute;
                top:0;
                width: 100% !important;
            }
        }

        .card-content {
            //background-color: white;
            text-align: center;

            p {
                font-size: 1em !important;
            }

            h4 {
                font-size: 1.25em;
                //font-family: $TOMMY-font;
                margin-bottom: .75em;
            }

            .card-link {
                display: inline-block;
                color: $black;
                font-weight: 500;
                margin: .75em auto;
                width: fit-content;

                p {
                    font-size: .8em !important;
                }

                &:after {
                    background-color: $black;
                    content: "";
                    display: block;
                    height: 2px;
                    width: 100%;
                }

                &:hover {
                    color: $orange;

                    &:after {
                        background-color: $orange;
                    }
                }
            }
        }
    }
}
