.column {
    .card-wrapper {
        display: block;
        margin: 0 auto;
        padding: 15px;

        img {
            height: 22vw !important;
            min-height: auto !important;
            object-fit: cover;
            width: 100% !important;
        }

        .card-content {
            //background-color: white;
            text-align: center;

            p {
                font-size: 1em !important;
            }

            h4 {
                font-size: 1.25em;
                //font-family: $TOMMY-font;
                margin-bottom: 7px;
            }

            .card-link {
                display: inline-block;
                color: $black;
                font-weight: 500;
                margin: 7px auto;
                width: fit-content;

                p {
                    font-size: .8em !important;
                }

                &:after {
                    background-color: $black;
                    content: "";
                    display: block;
                    height: 2px;
                    width: 100%;
                }

                &:hover {
                    color: $orange;

                    &:after {
                        background-color: $orange;
                    }
                }
            }
        }
    }
}
