//Columns layout scss

//.column-wrapper {
//    .column {
//        &:first-child {background-color: $dark-sand;}
//        &:last-child {background-color: $sand}
//    }
//}

.bg-noise {
    &:before {
        background-image: url(../assets/noise-tex.png) ;
        background-size: auto;
        content: '';
        height: 100%;
        opacity: 0.04;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.main-section {
    .headline {
        margin: 0 auto;
        max-width: $column-content-width;
        padding: 15px 0;
        text-align: center;
    }
    @media only screen and (min-width: $desktop) {
        align-items: center;
        display: flex !important;
        flex: 2;
        flex-direction: column;
        justify-content: center;
    }
}

.column {
    .headline, .text {
        margin: 0 auto;
        max-width: $column-content-width;
        padding: 15px 0;
        text-align: center;
    }
    @media only screen and (min-width: $desktop) {
        align-items: center;
        display: flex !important;
        flex: 2;
        flex-direction: column;
        justify-content: center;
    }
}

.column-wrapper {
    @media only screen and (min-width: $desktop) {
        height: clamp(600px, 50vw, 1080px)
    }
}

.column-wrapper, .main-section {
    display: block;
    margin: 0 0 5px;
    position: relative;
    width: auto;

    .column, .neos-contentcollection {
        height: 100%;
        padding: 0;
        position: relative;
        width: 100%;

        img {
            display: block;
            object-fit: cover;
            object-position: center;
            max-height: 600px;
            min-height: 400px;
            width: 100%;
        }
    }

    @media only screen and (min-width: $desktop) {
        align-items: center;
        display: flex;
        justify-content: center;
        //margin: 0 4vw 5px;
        //width: 100vw;

        .column, .neos-contentcollection {
            img {
                height: 100%;
                max-height: 100%;
            }
        }
    }
}

.columns-66-33 {
    .column {
        &:last-child {
            padding: 50px 0;
        }

        @media only screen and (min-width: $desktop) {
            &:first-child {
                flex: 3;

                .headline, .text {
                    max-width: none;
                }
            }
            &:last-child {
                flex: 2;
                flex-direction: column;
                padding: 0;
                //min-width: 500px;
                img {
                    max-height: 60%;
                }
            }
        }
    }
}

.columns-33-66 {
    .column {
        &:first-child {
            padding: 50px 0;

            img {
                margin: 0 auto;
                width: $column-content-width;
            }
        }

        @media only screen and (min-width: $desktop) {
            &:first-child {
                flex: 2;
                flex-direction: column;
                padding: 0;

                img {
                    max-height: 60%;
                }
            }
            &:last-child {
                flex: 3;
            }
        }
    }
}

.columns-33-33-33 {
    .column {
        &:nth-child(2) {
            padding: 50px 0;
        }

        @media only screen and (min-width: $desktop) {
            .rooms-cta {
                left: 40px;
                bottom: 40px;
                //transform: translateX(-50%);
            }

            &:nth-child(2) {
                flex-direction: column;
                //min-width: 500px;
            }
        }
    }
}

.columns-25-25-25-25 {
    @media only screen and (min-width: $tablet) {
        align-items: flex-start;
        display: flex !important;
        flex-wrap: wrap;
        .column {
            flex: 50%;
        }
    }
    @media only screen and (min-width: $desktop) {
        .column {
            flex: 25%;
        }
    }
}
