//Columns layout scss
$column-breakpoint: 415px;

.column-wrapper {
    display: block;
    margin-bottom: .25em;

    .column {
        padding: 0;
        position: relative;

        img {
            width: 100%;
        }
    }

    @media only screen and (min-width: 769px) {
        align-items: stretch;
        display: flex;
        justify-content: center;
        //height: 56vw;
        margin: 0 auto;
        //max-height: calc(100vh - 120px);
        //max-width: 1700px;
        //padding: 1em 3em;
    }
}

.columns-50-50 {
    @media only screen and (min-width: $tablet) {
        align-items: flex-start;
        display: flex !important;
        flex-wrap: wrap;
        .column {
            flex: 1;

            &:first-child {
                margin-right: .25em;
            }
        }
    }
}

.columns-25-25-25-25 {
    @media only screen and (min-width: $tablet) {
        align-items: flex-start;
        display: flex !important;
        flex-wrap: wrap;
        .column {
            flex: 50%;
        }
    }
    @media only screen and (min-width: $desktop) {
        .column {
            flex: 25%;
        }
    }
}
