body {
    //background-color: #FAFAFA;
    overflow: hidden;
}

.main-content {
    padding-top: 75px;
    position: relative;
    width: 100%;

    @media only screen and (min-width: $desktop) {
        margin: 0 auto;
        padding-top: 95px;
        width: calc(100% - 120px);
    }
}
