.hide {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: $transition;
  transition-delay: $transition-delay;
}

.show {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: $transition;
  transition-delay: $transition-delay;
}

.navigation-item {
    line-height: 1.25;

    &:hover {
        a {
            color: $orange;
        }
    }
}

.main-header {
    //height: 100vh;
    //background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    .info-bar {
        background-color: $sand;
        text-align: center;
        padding: .5em;
        position: relative;
        z-index: 10;
    }

    .topbar {
        align-items: center;
        background-color: white;
        display: flex;
        font-family: $TOMMY-font;
        font-size: $fontsize-header;
        font-weight: 500;
        justify-content: space-between;
        padding: 15px 25px;
        position: relative;
        z-index: 10;

        .navigation-menu {
            align-items: center;
            display: flex;
            position: relative;
            width: 100px;

            &:hover {
                cursor: pointer;

                span, .navigation-btn {
                    color: $orange;
                }
            }

            div {
                margin-right: 15px;
                text-transform: uppercase;
            }

            .navigation-btn {
                span {
                    background-color: black;
                    display: block;
                    height: 2px;
                    width: 30px;
                    margin: 4px 0;
                    transform: rotateZ(0);
                    transition: .1s;
                    transition-timing-function: $easing;
                }
            }

            .navigation-btn-text {
                display: block;
                height: 16px;
                left: 40px;
                overflow: hidden;
                position: absolute;

                @media only screen and (min-width: $desktop) {
                    height: 20px;
                }

                span {
                    display: block;
                    font-size: 10px;
                    font-weight: 600;
                    transform: translateY(0);
                    transition: $transition;
                    transition-timing-function: $easing;

                    @media only screen and (min-width: $desktop) {
                        font-size: 1em;
                    }
                }
            }
        }

        .flex-equal {
            flex: 1;
        }

        .logo {
            img {
                display: block;
                margin: 0 auto;
                object-fit: contain;
                width: 150px;
            }
        }

        .options {
            display: block;
            text-align: right;

            .language-selector {
                display: block;
                z-index: 9;

                button {
                    align-items: center;
                    color: $black;
                    display: flex;
                    float: right;
                    font-size: .8em;
                    font-weight: 600;
                    //margin: 0 auto;
                    padding: 0;
                    text-transform: uppercase;

                    @media only screen and (min-width: $desktop) {
                        font-size: 1em;
                    }

                    img {
                        display: inline-block;
                        height: auto;
                        margin-left: .5em;
                        margin-bottom: 0;
                        width: 1em;
                    }
                }

                .language-modal {
                    background-color: rgb(0,0,0); /* Fallback color */
                    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
                    display: none; /* Hidden by default */
                    height: 100vh; /* Full height */
                    left: 0;
                    overflow: auto; /* Enable scroll if needed */
                    position: fixed; /* Stay in place */
                    top: 0;
                    width: 100vw; /* Full width */
                    z-index: 1; /* Sit on top */

                    .modal-content {
                        background-color: #fefefe;
                        //border-radius: 4px;
                        left: 50%;
                        margin: 0 auto;
                        max-width: 420px;
                        padding: 40px 20px;
                        position: absolute;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 80%; /* Could be more or less, depending on screen size */

                        .language-list, .modal-text {
                            text-align: center;
                        }

                        .modal-text {
                            margin-bottom: 20px;
                            p {
                                font-size: 1.2em;
                            }
                        }

                        .language-list {
                            li {
                                a {
                                    color: $black;
                                    font-size: 1.5em;
                                    font-weight: 400;
                                    text-decoration: none;

                                    &:hover {
                                        color: $orange;
                                    }
                                }
                            }

                            .language-current {
                                //text-decoration: underline;
                                a {
                                    color: $orange;
                                }
                            }
                        }

                        /* The Close Button */
                        .close-modal {
                            color: #aaa;
                            font-size: 60px;
                            font-weight: 400;
                            line-height: .5;
                            position: absolute;
                            top: 10px;
                            right: 10px;
                        }

                        .close-modal:hover,
                        .close-modal:focus {
                          color: black;
                          text-decoration: none !important;
                          cursor: pointer;
                        }
                    }
                }

                #openLanguageMenu {
                    background-color: transparent;
                    border: none;
                    //color: $black;
                    font-family: $TOMMY-font;
                    //font-weight: 500;
                    //transition: $transition;

                    &:hover {
                        color: $orange;
                        cursor: pointer;
                        //text-decoration: underline;
                    }
                }
            }
        }
    }

    .menu {
        animation-direction: normal;
        animation-fill-mode: forwards;
        background-color: $sand;
        display: flex;
        height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100vw;
        transform: translateY(-100%);
        z-index: 9;
        transition: transform $transition;
        //transition-timing-function: $easing;

        .navigation-content {
            left: 5vw;
            top: 40%;
            position: absolute;
            transform: translateY(-50%);
            z-index: 2;

            ul {
                li {
                    overflow: hidden;
                    a {
                        font-size: clamp(40px, 6vw, 60px);
                        font-weight: 700;
                    }
                }
            }

            @media only screen and (min-width: 414px) {
                top: 45%;
            }

            @media only screen and (min-width: $desktop) {
                top: 48%;
            }
        }

        .social-links {
            display: flex;
            position: absolute;
            bottom: 35vh;
            left: 5vw;

            @media only screen and (min-width: 414px) {
                bottom: 5vw;
            }

            @media only screen and (min-width: $desktop) {
                bottom: 5vw;
            }

            a {
                align-items: center;
                display: flex;
                color: $black;

                &:first-child {
                    margin-right: 20px;
                }

                &:hover {
                    color: $orange;
                }

                img {
                    margin-right: 10px;
                }
            }
        }

        .navigation-image {
            display: none;
        }
    }

    .menu-activated {
        //background-color: $sand;
        transform: translateY(0);
        //transition: $transition;
        transition-timing-function: $easing;
        overflow-y: hidden;
    }

    .menu-animate {
        transition: $transition;
        transition-timing-function: $easing;
        .navigation-btn-text {
            span {
                &:first-child {
                    transform: translateY(-100%);
                }
                &:last-child {
                    transform: translateY(-100%);
                }
            }
        }
        .navigation-btn {
            span {
                &:first-child {
                    transform: rotateZ(45deg);
                    margin: -1px;
                }
                &:last-child {
                    transform: rotateZ(-45deg);
                    margin: -1px;
                }
            }
        }
    }

    aside {
        display: none;
    }

    @media only screen and (min-width: $desktop) {
        .topbar {
            padding: 15px 60px;
            transition: $transition;

            .options {
                .language-selector, .booking-cta {
                    display: inline-block;
                    //padding-left: 15px;
                }
            }
        }

        .menu {
            .navigation-image {
                display: block;
                height: 100vh;
                right: 0;
                top: 0;
                position: absolute;
                //transform: translateY(-50%);
                width: 50vw;
                z-index: 1;

                img {
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }

        aside {
            align-items: center;
            display: flex;
            left: 1vw;
            position:  fixed;
            top: 50%;
            transform: rotate(-90deg) translateY(-72px);
            width: fit-content;

            a {
                align-items: center;
                color: $black;
                display: flex;
                font-size: .9em;
                z-index: 10;

                img {
                    margin-right: 5px;
                }

                &:first-child {
                    margin-right: 15px;
                }

                &:hover {
                    color: $orange;
                }
            }
        }
    }
}

.booking-cta {
    background-color: $earth;
    //-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.1), 0px 0px 12px 0px rgba(0,0,0,0.08);
    //box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.1), 0px 0px 12px 0px rgba(0,0,0,0.08);
    bottom: 1em;
    border-radius: 3px;
    display: table;
    font-family: $headline-font;
    //text-decoration: underline;
    line-height: 1;
    padding: .5em 2em;
    position: fixed;
    right: 1em;

    @media only screen and (min-width: $desktop) {
        bottom: 30px;
        right: 60px;
    }

    a {
        display: inline-block;
        color: white;
        font-size: 1.2em;
        font-weight: 700;
        line-height: 1.75;
        //margin-top: 1em;
        transition: .25s;
    }
}

.sticky-social {
    display: block;
    position: fixed;
    transform: rotate(-90deg) translateX(20%);
    top: 50%;
    left: -80px;

    .sticky-social-links {
        display: inline-flex;

        a {
            align-items: center;
            color: $black;
            display: flex;
            font-size: .75em;
            font-weight: 300;
            letter-spacing: .1em;
            text-transform: uppercase;

            &:hover {
                color: $orange;
            }

            &:first-child {
                margin-right: 2.5em;
            }

            img {
                display: block;
                margin-right: .75em;
                object-fit: contain;
                width: 100%;
            }
        }
    }

    @media only screen and (max-width: $desktop) {
        display: none;
    }
}
