$column-breakpoint: 768px;

.templateOne, .templateTwo, .templateThree, .templateFour {
    display: block;
    margin-bottom: .25em;

    @media only screen and (min-width: $column-breakpoint) {
        align-items: stretch;
        display: flex;
        justify-content: center;
        height: 58vw;
        max-height: calc(100vh - 120px);
        min-height: 600px;
    }

    .templateOne-image, .templateTwo-image, .templateThree-image, .templateFour-image {
        flex: 3;

        img {
            display: block;
            height: 100%;
            max-height: 480px;
            object-fit: cover;
            object-position: center;
            width: 100%;

            @media only screen and (min-width: 415px) {
                max-height: 800px;
            }

            @media only screen and (min-width: $column-breakpoint) {
                max-height: calc(100vh - 120px);
                min-height: 600px;
            }
        }
    }

    .templateThree-image {
        flex: 1;

        img {
            display: block;
            height: 100%;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }

    .templateOne-column, .templateTwo-column, .templateThree-column, .templateFour-column {
        display: block;
        flex: 2;
        padding: 5em 1em;
        //text-align: center;
        width: 100%;

        .column-content {
            display: block;
            width: 100%;

            .small-title {
                letter-spacing: 3px;
                font-weight: 600;
                margin-bottom: .5em;
                text-transform: uppercase;

                p {
                    font-size: 1em;
                }
            }

            .column-image {
                display: block;
                margin: 1em auto;
                width: 75%;
                //padding-top: 120%;
                position: relative;

                img {
                    display: block;
                    margin: 0 auto;
                    width: 100%;
                }
            }

            @media only screen and (min-width: $column-breakpoint) {
                margin: 0 auto;
                padding: 3em 1em;
                width: 90%;
            }

            @media only screen and (min-width: 1024px) {
                width: 75%;
            }
        }

        .white-text {
            color: white !important;

            a {
                color: white;

                &:after {
                    background-color: white;
                }
            }
        }

        @media only screen and (min-width: $column-breakpoint) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h1, h2 {
            //margin-bottom: .75em;
        }

        a {
            display: inline-block;
            color: $black;
            font-weight: 700;
            margin-top: 1em;
            transition: .25s;

            &:after {
                background-color: $black;
                display: block;
                content: '';
                height: 2px;
                width: 100%;
                transition: .25s;
            }

            &:hover {
                color: $orange;

                    &:after {
                    background-color: $orange;
                    display: block;
                    content: '';
                    height: 2px;
                    width: 100%;
                }
            }
        }
    }

    .templateThree-column {
        flex: 1;
    }
}

.templateThree {
    .templateThree-image {
        position: relative;
        .rooms-cta {
            display: block;
            padding: 1em 2em;
            position: absolute;
            text-align: left;
            width: auto;

            p, strong, a {
                color: white;

                &:after {
                    background-color: white;
                }
            }

            .rooms-cta-title {
                p {
                    font-family: $headline-font;
                    font-size: 25px !important;
                    font-weight: 700;
                }
            }
        }

        &:first-child {
            .rooms-cta {
                @media only screen and (max-width: 449px) {
                    bottom: .5em;
                    left: .5em;
                }

                @media only screen and (min-width: 450px) {
                    right: -1em;
                    top: 1em;
                }
            }
        }

        &:last-child {
            .rooms-cta {
                @media only screen and (max-width: 450px) {
                    bottom: .5em;
                    left: .5em;
                }

                @media only screen and (min-width: 450px) {
                    bottom: 1em;
                    left: -1em;
                }
            }
        }
    }
}
