.text, .headline {
    //padding: 0 4vw;
    max-width: 420px;
    margin: 0 auto;
}

.headline {
    padding-bottom: 2em;
}

h3 {
    line-height: 1.25;
}

h6 {
    letter-spacing: 3px;
    font-family: $font;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: .5em;
    text-transform: uppercase;
}
