.main-wrapper {
    padding: 2em .5em;
    margin: 0 auto;
    max-width: 1700px;

    @media only screen and (min-width: 769px) {
        padding: 3em 1.5em;
    }

    .column {
        padding: 0;

        @media only screen and (min-width: 769px) {
            padding: 1em;
        }
    }
}
